@import "tailwindcss";

@utility text-stroke {
    -webkit-text-stroke: 1px #fff;
}

@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@utility fade-in {
    opacity: 0;
    animation: fade-in 1.5s ease-out forwards;
}

@utility fade-in-delay {
    opacity: 0;
    animation: fade-in 1.5s ease-out forwards;
    animation-delay: 0.5s;
}