---
import Layout from '../layouts/Layout.astro';
import Section from '@components/Section.astro';
import Services from '@components/Services.astro';
import ProductLoading from '@components/ProductLoading.astro';
import Product from '@components/Product.astro';
import NavigationBTNs from '@components/NavigationBTNs.astro';
---

<Layout title="Combos Santiago">
    <Section title="Productos" background>
        <Services slot="after-title"/>

        <div class="flex justify-center">
            <ProductLoading/>
        </div>

        <NavigationBTNs/>
    </Section>
</Layout>
