---
import { Picture } from 'astro:assets';

import Layout from '../layouts/Layout.astro';
import Section from '@components/Section.astro';
import Services from '@components/Services.astro';
import ProductLoading from '@components/ProductLoading.astro';
import Product from '@components/Product.astro';
import NavigationBTNs from '@components/NavigationBTNs.astro';

import DNI from '@assets/DNI.jpg';
---

<Layout title="Combos Santiago">
    <Section title="Productos" background>
        <Services slot="after-title"/>

        <div class="flex justify-center">
            <ProductLoading/>
        </div>

        <NavigationBTNs/>
    </Section>
    
    <Section title="Proceso de Entrega">
        <div class="mb-10">
            <Picture src={ DNI } alt="Imagen de un Carnet de Identidad Cubano" class="w-80 mx-auto rounded-2xl border-4 rotate-6 shadow shadow-gray-500"/>
        </div>

        <div class="px-3">
            <p class="first-letter:pl-3 pb-5">Una vez realizado el pago, el cliente deberá enviar los siguientes datos para proceder con el despacho del paquete:</p>
            <ul class="mb-5 pl-5 list-disc">
                <li>Dirección completa de entrega.</li>
                <li>Fotografía de la identificación oficial de la persona que recibirá el paquete.</li>
            </ul>
            <p class="first-letter:pl-3 pb-5">Con esta información, el paquete podrá ser entregado el mismo día, siempre que las condiciones logísticas lo permitan. En cualquier caso, el plazo máximo de entrega es de 72 horas a partir de la confirmación de los datos mencionados. Como comprobante de entrega, se tomará una fotografía en el momento en que el paquete sea recibido, la cual servirá como garantía de que la entrega se realizó correctamente.</p>
        </div>
    </Section>
</Layout>
