---
import Tag from '@assets/tag.svg';

interface Props {
    id: number;
    price: { US: number, BR: number }
}

const { id, price } = Astro.props;
const country = (Astro.request.headers.get('X-Vercel-IP-Country') === 'BR') ? 'BR' : 'US';

const priceText = ()=> {
    let text = (country === 'BR') ? 'R$' : '$';
    text += ` ${ price[country] }`;
    return text;
}
---

<span class="absolute right-0 top-0 rotate-12 text-3xl text-yellow-300">{ priceText() } <Tag class="absolute -right-8"/></span>