---
import Tag from '@assets/tag.svg';

interface Props {
    id: number;
}

const { id } = Astro.props;
const country = (Astro.request.headers.get('X-Vercel-IP-Coutry') === 'BR') ? 'BR' : 'US';
const prices = [
    { US: 120, BR: 800 },
    { US: 120, BR: 800 }
];

const priceText = ()=> {
    let text = (country === 'BR') ? 'R$' : '$';
    text += ` ${ prices[id][country] }`;
    return text;
}
---

<span class="absolute right-0 top-0 rotate-12 text-3xl text-yellow-300">{ priceText() } <Tag class="absolute -right-8"/></span>