---
import Tag from '@assets/tag.svg';

interface Props {
    price: { US: number, BR: number }
}

const { price } = Astro.props;
const country = await Astro.request.headers.get('x-vercel-ip-country');

const priceText = ()=> {
    let text = (country === 'BR') ? 'R$' : '$';
    text += ` ${ price[country === 'BR' ? 'BR' : 'US'] }`;
    return text;
}
---

<span class="absolute right-0 top-0 rotate-12 text-3xl text-yellow-300">{ priceText() } <Tag class="absolute -right-8"/></span>