---
import Pay from '@assets/pay.svg';

interface Props {
    id: number;
    title: string;
    price: { US: number, BR: number };
    content: [{ item: string, weight: string }];
}

const { id, title, price, content } = Astro.props;
---

<div class="w-80 pt-5 rounded-3xl shadow-md shadow-black/80 bg-black/50 p-2">
    <h3 class="mb-5 font-[Barlow] text-2xl text-center">{ title }</h3>

    <ul class="px-3">
        {
            content.map(({ item, weight })=> (
                <li class="my-3 flex justify-between">
                    <span>{ item }</span>
                    <span>{ weight }</span>
                </li>
            ))
        }
    </ul>

    <button class="w-full mt-5 py-3 bg-linear-to-b from-green-700 to-green-900 rounded-2xl font-bold active:scale-95 transition-[scale] inline-flex gap-3 justify-center"> <Pay /> Comprar</button>
</div>