---
import Whatsapp from '@assets/whatsapp.svg';
---

<footer>
    <h2 id="contacts" class="pb-5 font-[Barlow] text-3xl text-center">Contactanos</h2>
    <p class="text-center">Esperamos con ancias tu pedido.</p>
    <ul class="my-5">
        <li class="w-full inline-flex justify-center items-center gap-3"><Whatsapp class="size-8"/> <span>+XX XXX-XXX-XXX</span></li>
        <li class="w-full inline-flex justify-center items-center gap-3"><Whatsapp class="size-8"/> <span>+XX XXX-XXX-XXX</span></li>
    </ul>
    <p class="text-center">Creado por Pablo A.</p>
</footer>