---
import Right from '@assets/right.svg';
import Left from '@assets/left.svg';
---

<div class="my-5 flex justify-evenly items-center animate-pulse">
    <button>
        <Left stroke-width={ 1 } class="size-11 text-gray-800/50"/>
    </button>

    <span class="w-20 h-6 bg-gray-800/50 rounded-full"></span>

    <button>
        <Right stroke-width={ 1 } class="size-11 text-gray-800/50"/>
    </button>
</div>