---
import Right from '@assets/right.svg';
import Left from '@assets/left.svg';
---

<div class="my-5 flex justify-evenly items-center">
    <button>
        <Left stroke-width={ 1 } class="size-11"/>
    </button>

    <span>Combo #1</span>

    <button>
        <Right stroke-width={ 1 } class="size-11"/>
    </button>
</div>