---
import '@styles';

import '@fontsource/barlow/700.css';
import '@fontsource/barlow/900.css';

import '@fontsource/poppins/500.css';
import '@fontsource/poppins/700.css';
import '@fontsource/poppins/900.css';

import Header from "@components/Header.astro";
import Footer from '@components/Footer.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es" class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{ title }</title>

		<meta name="description" content="Tu descripción aquíEnvíos rápidos y seguros de combos de comida a Santiago de Cuba. Sorprende a tus seres queridos con alimentos frescos, variados y de calidad, entregados directamente en la puerta de su hogar. ¡Haz tu pedido desde cualquier parte del mundo y lleva sabor y cariño a tu familia en Cuba!">
		<meta name="keywords" content="Combo, Santiago de Cuba, Comida, Envio, Carne">
		<meta name="robots" content="index, follow">
		<meta name="author" content="Pablo A.">

		<link rel="canonical" href="https://combos-santiago.vercel.app/">
		<meta property="og:title" content="Combos Santiago">
		<meta property="og:description" content="Tu descripción aquíEnvíos rápidos y seguros de combos de comida a Santiago de Cuba. Sorprende a tus seres queridos con alimentos frescos, variados y de calidad, entregados directamente en la puerta de su hogar. ¡Haz tu pedido desde cualquier parte del mundo y lleva sabor y cariño a tu familia en Cuba!">
		<meta property="og:image" content="./logo.png">
		<meta property="og:url" content="https://combos-santiago.vercel.app/">
		<meta property="og:type" content="website">

		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:title" content="Combos Santiago">
		<meta name="twitter:description" content="Tu descripción aquíEnvíos rápidos y seguros de combos de comida a Santiago de Cuba. Sorprende a tus seres queridos con alimentos frescos, variados y de calidad, entregados directamente en la puerta de su hogar. ¡Haz tu pedido desde cualquier parte del mundo y lleva sabor y cariño a tu familia en Cuba!">
		<meta name="twitter:image" content="https://combos-santiago.vercel.app/">
	</head>
	<body class="bg-black text-white font-[Poppins]">
		<main class="flex flex-col gap-10">
			<Header/>

			<slot />

			<Footer/>
		</main>
	</body>
</html>